body {
    background-color: #eee2dc; /* Replace with your desired background color */
    /*background-color: #89ABE3;
    background-color: #89ABE3;
    margin: 0; /* Ensure there is no margin around the body */
    font-family: 'Poppins', Arial, sans-serif; /* Ensure the font is consistent */
}
